<div class="container">
  <h1>horseshit url shortner</h1>

  <table>
      <form action="/urls" method="POST">
        <label for="long_url">Put ur shitty url here:</label>
        <input id="long_url" type="text" name="url[long_url]">
        <input type="submit" value="click here for awesomeness">
      </form>
  </table>
  <br>
  <table>
    <thead>
      <th>Long URL</th>
      <th>Short URL</th>
      <th>Clicks</th>
    </thead>
    <tbody>
      <% @urls.each do |url| %>
        <tr>
          <td><%= url.long_url %></td>
          <td><a href="/<%=url.short_url%>"><%= url.short_url %></a></td>
          <td><%= url.clicks %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
